@use '../base/mixins.scss' as *;

.basic__cards-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;

    @include mobileSm () {
        gap: 10px;
    }
}

.basic__card {
    position: relative;
    transition: all 0.2s ease-in;
    border-radius: 10px;

    &:hover {
        transform: scale(1.03);
        box-shadow: rgb(255, 255, 255) 1px 1px 10px;
    }

    &-img {
        position: relative;
        height: 300px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid var(--text-color);
        object-fit: cover;
        object-position: center center;

        @include mobileSmH () {
            height: 150px;
        }
    }

    &-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: clamp(18px,2vw,26px);
        font-weight: 700;
        color: var(--text-color-white);
        text-shadow: 1px 1px 2px var(--text-color);
        text-transform: uppercase;
        padding-bottom: 6px;
        text-align: center;
    }
}